<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A library with attitude (and CSS), that hits different."
    />
    <meta name="author" content="Dana Gore Sierra" />
    <title>Literary Club</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/libraryStyle.css}" />
  </head>
  <body>
    <nav th:replace="fragments :: keeperNavbar"></nav>
    <div class="container mt-5 py-5">
      <div class="container">
        <h2 class="text-center text-white fw-bold mx-5">
          Add an author to our great collection
        </h2>
      </div>
      <div class="divider div-transparent div-dot"></div>
      <div class="input-container col-12 pt-5">
        <div
          class="alert alert-danger stretch-input"
          th:if="${authorErrorMessage != null}"
          th:text="${authorErrorMessage}"
        ></div>
        <form
          autocomplete="off"
          class="needs-validation text-white fw-bold"
          method="post"
          th:action="@{/keeper/authors/save}"
          th:object="${author}"
        >
          <label for="name" class="form-label">Author Name *</label>
          <input
            class="form-control py-2 stretch-input"
            id="name"
            required
            th:field="*{nameAuthor}"
            type="text"
          />
          <div class="invalid-feedback">Author Name Required</div>
          <div class="mb-2">
            <label for="aboutAuthor" class="form-label">Mini bio</label>
            <textarea
              class="form-control stretch-input"
              id="aboutAuthor"
              rows="20"
              th:field="*{aboutAuthor}"
            ></textarea>
          </div>
          <a
            th:href="@{/keeper/authors/all}"
            class="btn btn-dark mt-4"
            role="button"
            >CANCEL</a
          >
          <button class="btn btn-dark mt-3" type="submit">SAVE</button>
        </form>
      </div>
    </div>
    <footer th:replace="fragments :: myFooter"></footer>
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
  </body>
</html>
