<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A library with attitude (and CSS), that hits different."
    />
    <meta name="author" content="Dana Gore Sierra" />
    <title>Literary Club</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/libraryStyle.css}" />
  </head>
  <body>
    <nav th:replace="fragments :: readerNavbar"></nav>
    <div class="container text-center text-white pt-5">
      <h5 class="pt-5">Discover amazing stories</h5>
      <h1 class="pt-4 fw-bolder">Books</h1>
      <div class="divider div-transparent div-dot"></div>
    </div>

    <div class="container text-center text-white my-5 py-4">
      <div th:if="${books.isEmpty()}">
        <p class="py-5 fs-5 fw-bold">There are no books ;-;</p>
      </div>
    </div>

    <div class="container">
      <div th:unless="${books.isEmpty()}">
        <div
          class="
            row row-cols-2 row-cols-lg-4
            mb-5
            mt-2
            g-3
            align-items-center
            justify-content-center
          "
        >
          <div th:each="book : ${books}">
            <div class="col my-3">
              <div class="card border-0 clickable-card authorCard">
                <a
                  th:href="@{/reader/books/__${title}__/__${isbn}__}"
                  class="text-decoration-none"
                >
                  <img
                    th:src="@{/images/who-are-we.jpg}"
                    class="card-img-top"
                    alt="Book Cover"
                  />
                  <div class="card-body text-center py-4 my-2">
                    <p
                      class="card-title my-2 text-black fw-bold"
                      th:text="${book.title}"
                    ></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="fragments :: myFooter"></footer>
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
  </body>
</html>
