<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav
    th:fragment="readerNavbar"
    class="navbar navbar-expand-md bg-black navbar-dark sticky-top"
  >
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" th:href="@{/reader}">LITERARY CLUB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/reader}">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:href="@{/reader}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">DISCOVER</a>
            <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" th:href="@{/reader/books/all}">Books</a></li>
               <li><a class="dropdown-item" th:href="@{/reader/authors/all}">Authors</a></li>
               <li><a class="dropdown-item" th:href="@{/reader/publishers/all}">Publishers</a></li>
            </ul>
            <li class="nav-item">
               <a class="nav-link" th:href="@{/login}">LOGIN</a>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav
    th:fragment="keeperNavbar"
    class="navbar navbar-expand-md bg-black navbar-dark sticky-top mb-5"
  >
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" th:href="@{/keeper}">LITERARY CLUB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/keeper/books/all}">BOOKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/keeper/authors/all}">AUTHORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/keeper/publishers/all}">PUBLISHER</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <footer th:fragment="myFooter" class="footer bg-black text-center text-white text-muted mt-5">
      <div class="container d-flex justify-content-center py-5">
          &copy; Dana Gore Sierra - 2021
        </div>
    </footer>
</html>
