<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A library with attitude (and CSS), that hits different."
    />
    <meta name="author" content="Dana Gore Sierra" />
    <title>Literary Club</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/libraryStyle.css}" />
  </head>
  <body>
    <div class="container centerContainerWhoAreYou">
      <div class="container-lg">
        <div class="row my-5 align-items-center justify-content-center">
          <div class="col-8 col-lg-6 col col-xl-5">
            <div class="divider div-transparent div-dot mt-0"></div>
            <div class="card who-are-you border-0 mt-4">
              <div class="card-body text-center py-4">
                <h3 class="card-title mt-3 text-white fw-normal">Welcome!</h3>
                <p class="card-subtitle mt-2 mb-4 text-muted text-white">Who are you?</p>
                <div class="d-grid gap-2 col-8 mx-auto mt-2">
                  <a th:href="@{/reader}" class="btn btn-dark mb-1" role="button">An inquisitive reader!</a>
                  <a th:href="@{/keeper}" class="btn btn-dark mb-4" role="button">The keeper of all books!</a>
                </div>
              </div>
            </div>
            <div class="divider div-transparent div-dot mt-4"></div>
          </div>
        </div>
      </div>
    </div>
  <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</html>